{%extends "base.html"%}
{%block content%}
<div class="jumbotron pl-5 pr-1 py-1 text-white rounded bg-dark">
  <div class="row">
    <div class="col-md-8 px-0 pt-3">
      <h1 class="display-4 font-italic">{{latest_posts.0.title}}</h1>
      <div class="mb-1 text-muted">{{latest_posts.0.publish_date}}</div>
      <p class="lead my-3">{{latest_posts.0.text|safe|truncatewords:20}}</p>
      <p class="lead align-bottom mb-0 pb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
    <div class="col-md-4">
      <img class="img-thumbnail flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb"
        src="https://github.com/matterport/Mask_RCNN/blob/master/assets/detection_final.png?raw=true" alt="Card image cap">
    </div>
  </div>
</div>

<div class="row mb-2">
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-primary">Blog</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">{{latest_posts.1.title}}</a>
        </h3>
        <div class="mb-1 text-muted">{{latest_posts.1.publish_date}}</div>
        <p class="card-text mb-auto">{{latest_posts.1.text|safe|truncatewords:15}}</p>
        <a href="#">Continue reading</a>
      </div>
      <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb"
        src="https://imgs.xkcd.com/comics/machine_learning.png" alt="Card image cap">
    </div>
  </div>
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <strong class="d-inline-block mb-2 text-success">Projects</strong>
        <h3 class="mb-0">
          <a class="text-dark" href="#">{{latest_posts.2.title}}</a>
        </h3>
        <div class="mb-1 text-muted">{{latest_posts.2.publish_date}}</div>
        <p class="card-text mb-auto">{{latest_posts.2.text|safe|truncatewords:15}}</p>
        <a href="#">Continue reading</a>
      </div>
      <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb"
        src="https://github.com/matterport/Mask_RCNN/blob/master/assets/detection_final.png?raw=true" alt="Card image cap">
    </div>
  </div>
</div>
</div>
{%endblock%}
